<!doctype html public "✰">
<!--[if lt IE 7]> <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
  <%= skeleton :head %>
  <%= content_tag :body, body_attributes do %>
    <%= skeleton :navbar %>
    <%= skeleton :header %>
    <div class="container <%= action_name %>">
      <%= render :partial => "carousel" if action_name == "index" %>
      <div class="row">
        <div class="content">
          <%= yield(:before_content) %>
          <%= content_for?(:main) ? (yield :main) : yield %>
          <%= yield :after_content %>
        </div>
        <div class="sidebar span3">
          <%= yield :sidebar %>
        </div>
      </div> 
    </div>
    <% if @taotop10&&@meitop10 %>
    <div class="containera">
      <div class="top10">
        <h4>桃园 TOP 10</h4>
        <%= render :partial => "top10", :collection => @taotop10 %>
        <h4>梅园 TOP 10</h4>
        <%= render :partial => "top10", :collection => @meitop10 %>
      </div>
    </div>
    <% end %>
    <%= skeleton :footer %>
    <%= skeleton :javascripts %>
    <%= yield :bottom %>
  <% end %>
</html>
