<% id = article.id %>
<% url = article_url(article) %>
<%= div_for(article, :class => "span") do %>
    <% if article.picture.file? %>
      <div class="player">
        <%= link_to image_tag(article.picture(:medium), :class => "img", :alt => (article.title || article.content.mb_chars[0, 10])), "/articles/#{id}", :id => "picture-#{id}", :class => "player-photo", :title => (article.title || article.content.mb_chars[0, 10]) %>
        <div class="info">
          <p><%= article.title %></p>
          <p><%= article.get_metadata("motto") %></p>
        </div>
      </div>
      <div class="caption">
        <div class="shu"><p>所属/<span class="xi"><%= article.tag_line%></span>•<span class="xi"><%= article.get_metadata("college")%></span></p>
        <p>已戳/<span class="xi"><%= article.pos_score %></p></div>
        <!--p><a href=""javascript:vote3(<%= id %>,1)" id="up-<%= id %>" class="btn btn-primary"">已戳<span id="pos-score-<%= id %>"><%= article.pos_score %></span></a></p-->
        <div id="score-<%= id %>" class="score">
          <% r= rated?(article) %>
          <a href="javascript:vote3(<%= id %>,1)" id="up-<%= id %>" class="up <%= r && 'disabled' %>">
          <span id="pos-score-<%= id %>"></span>
          </a>
        </div>
      </div>
    <% end %>
<% end %>